/* Body starts from here. */
.background-image {
    background-image: url(logo-baner.png);
}

/* Main starts from here. */
main {
    background-color: antiquewhite;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 600px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.2em;
}

/*Header starts from here.*/
.title-name, .established {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    text-align: center;
}

.title-name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.established {
    margin-top: 4px;
    margin-bottom: 0px;
    font-style: italic;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 0px;
}


/*hr styling starts from here. */
hr {
    background-color: brown;
    height: 1px;
    border: 1px solid brown;
}

.hr-1, .hr-2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Section-1 styling starts from here. */
.section-1 ul {
    /* width: 80%; */
    margin-top: 0px;
    margin-bottom: 5px;
    /* margin-right: 0px; */
    margin-left: -20px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.section-1 li {
    list-style-type: square;
}

/* section-2,3 item & type class styling */
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.type {
    width: 20%;
    text-align: left;
}

/* section-2 styling starts from here. */
.price {
    text-align: right;
    width: 80%;
}

/* section-3 tyling starts from here. */
.section-3 {
    margin-bottom: 5px;
}

.section-3 p {
    font-size: .9em;
}

.minimum {
    width: 30%;
    text-align: left;
}

.pricing {
    width: 50%;
    text-align: right;
}

/*Footer styling starts from here. */
footer p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: .8em;
}
.facebook {
    margin-bottom: 10px;
}

footer {
    padding-top: 20px;
    padding-bottom: 0px;
}

a {
    color: brown;

}
a:visited {
    color: rgb(121, 11, 11);
}

a:hover, a:active {
    color: black;
}
