/* Body starts from here. */
.background-image {
    background-image: url(logo-baner.png);
}

/* Main starts from here. */
main {
    background-color: antiquewhite;
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

/*Header starts from here.*/
.title-name, .established {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    text-align: center;
}

.title-name {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 5px;
}

.established {
    margin-top: 4px;
    margin-bottom: 0px;
    font-style: italic;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 0px;
}

/*hr styling starts from here. */
hr {
    background-color: brown;
    height: 1px;
    border: 1px solid brown;
}

.hr-1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* */